body {
  width: 320px;
  height: auto;
  background-color: #222;
  font-family: 'Helvetica', sans-serif;
  margin: 3px;
  padding: 0;
  border: 8px inset #0B98D9;
  border-image: linear-gradient(to bottom right, #0B98D9, #FFF) 1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

h1 {
  margin-top: 3px;
  margin-bottom: 3px;
  color: #FFF;
}

.mb-4, .my-4{
  margin-bottom: 5px!important;
}

.mt-5, .my-5{
  margin-top: 10px!important;
}

select {
  margin-top: 5px;
  margin-bottom: 5px;
}

select option {
  /* Establece el ancho de las opciones */
  width: 150px;
}

.form-control{
  color: #0B98D9;
  background-color: #444;
  border: 1px solid #0B98D9;
}

img {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Estilos para el contenedor del reloj */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* Estilos para el título "LA HORA ES:" */
.container h1:first-child {
  font-size: 24px;
  color: #0B98D9;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Estilos para la hora actual */
#hora-actual {
  font-size: 48px;
  color: #0B98D9;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

#agregarFavorito, #eliminarFavorito {
  margin-left: 5px;
}

/* Estilos para las banderas y botones de favoritos */
.favorito-item {
  display: inline-block;
  margin-right: 10px;
}

.favorito-item button {
  font-size: 10px; /* Tamaño de fuente para los botones */
}

.favorito-item img {
  width: 30px; /* Tamaño de las banderas */
  height: 20px;
  margin-right: 5px;
}

/* Estilos para los botones de eliminar */
.btn-danger {
  font-size: 8px; /* Tamaño de fuente para los botones de eliminar */
  padding: 2px 4px; /* Espaciado interno de los botones de eliminar */
  margin-top: 5px; /* Espaciado superior de los botones de eliminar */
}


/* Estilos para el diseño del formulario */
.form-group {
  display: flex;
  align-items: center;
}

/* Estilos para el botón de agregar a favoritos */
#agregarFavorito {
  margin-left: 10px; /* Espacio entre el select y el botón */
}

#agregarFavorito:hover {
  background-color: #5bc0de; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color de texto al pasar el ratón */
}

.favoritotitulo{
  margin: 0px;
  color: #0B98D9;
}

.favoritos-container{
  margin-top: 2px;
}

.btn-primary{
  background-color:#0B98D9;
}

.bandera-container {
  display: flex;  /* Utilizar flexbox para alinear los elementos en la misma línea */
  align-items: center;  /* Alinear verticalmente al centro */
}

.bandera-btn, .eliminar-btn {
  margin-right: 0px;  /* Ajustar el margen entre los botones según sea necesario */
}

#language-select {
  width: 50px; /* Puedes ajustar este valor según tus necesidades */
  font-size: 10px; /* Puedes ajustar este valor según tus necesidades */
  margin: 1px;
  padding: 0px;
  align-items: center;
}

.float-right {
  float: right;
  margin-top: 10px; 
  margin-right: 5px;
}

